.subtitle {
  font-size: 70px;
  font-weight: 900;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  animation: swing 3s ease-in-out; /* Assuming animation duration of 3 seconds */
  color: red; /* Example color */
}

.subtitle-text {
  -webkit-text-stroke: 1.5px black;
  text-shadow: 0 0 4px white; 
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
